.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold; /* 글자 두께 추가 */
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: white; /* 글자색을 흰색으로 변경 */
  text-decoration: none;
  padding: 0.5rem;
  font-weight: bold; /* 글자 두께 추가 */
}

.nav-links button {
  cursor: pointer;
  border: 1px solid white; /* 테두리 색상도 흰색으로 변경 */
  color: white; /* 버튼 글자색도 흰색으로 변경 */
  background: transparent;
  padding: 0.5rem;
  font: inherit;
  font-weight: bold; /* 글자 두께 추가 */
}

/* hover 효과도 수정 */
.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #f8df003a;
  border-color: white;
  color: white;
}

.nav-links button:hover,
.nav-links button:active {
  background: #292929;
  color: white;
}



@media (min-width: 768px) {
  .nav-links {
    justify-content: space-between; /* 큰 화면에서도 균등 분배 유지 */
  }

  .nav-links li {
    margin: 0; /* 마진 제거하여 더 넓은 공간 확보 */
    flex: 1; /* 각 항목이 동일한 너비를 가지도록 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #f8df00;
    color: #292929;
  }
}